@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Syne', sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-primaryText: var(--primaryText);
  --color-secondaryText: var(--secondaryText);
  --color-primaryAccent: var(--primaryAccent);
  --color-accentHover: var(--accentHover);
  --color-secondaryAccent: var(--secondaryAccent);
  --color-divider: var(--divider);
}

:root {
  --primary: #111512;
  --secondary: #1A2517;
  --surface: #20261F;
  --primaryText: #F5F5F2;
  --secondaryText: #A9B6A4;
  --primaryAccent: #ACC8A2;
  --accentHover: #B8D4AE;
  --secondaryAccent: #2F4F35;
  --divider: #2A3328;
}

.light {
  --primary: #F5F5F2;
  --secondary: #EBEBEB;
  --surface: #E0E0E0;
  --primaryText: #111512;
  --secondaryText: #4A5644;
  --primaryAccent: #4F6D45;
  --accentHover: #3C5A32;
  --secondaryAccent: #A1C099;
  --divider: #C8D1C4;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@layer utilities {
  .cursor-none-fine {
    cursor: none;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translate(-100%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes grain {

  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.animate-marquee {
  will-change: transform;
  backface-visibility: hidden;
  animation: 120s linear infinite marquee;
}

.animate-marquee-reverse {
  will-change: transform;
  backface-visibility: hidden;
  animation: 130s linear infinite marquee-reverse;
}

.grain-overlay:after {
  content: "";
  opacity: .035;
  pointer-events: none;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 256px 256px;
  width: 400%;
  height: 400%;
  animation: .5s step-end infinite grain;
  position: absolute;
  top: -200%;
  right: -200%;
  bottom: -200%;
  left: -200%;
}

@media (pointer: fine) {

  body,
  a,
  button,
  input,
  textarea,
  select,
  [role="button"] {
    cursor: none !important;
  }
}